.screen--rules.active{

  .rules__item::before{
    color: #ffffff;
    opacity: 1;
  }
  .rules__item::after{
    transform: scale(1);
  }
  .rules__item p{
    opacity: 1;
    transform: translateX(0);
  }
  .rules__link{
    color: $c-dark;
    opacity: 1;
  }
  .rules__link::before{
    width: 100%;
    right: -50%;
    opacity: 1;
  }
}
/* text-animation-wave */
.text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  white-space: nowrap;
}
.text__word > span {
    transform: translate3d(0, 300%, 0);
    display: inline-block;
    white-space-collapse: break-spaces;
}

.text-animation-wave .text__word > span {
    transform: translate3d(0, 0, 0);
}

/* screen result */
.screen--result.screen--show{
  .result__images{
    .flamingo{
      animation: fadeInToTop .5s ease 0s forwards, levitateFlamingo 2.5s ease .5s infinite;
    }
    .suitcase{
      animation: toTop 1.2s ease 0s forwards;
    }
    .leaf-green{
      animation: leafGreen 2.5s ease .3s forwards;
    }
    .leaf-blue-1{
      animation: leafGreen 2.2s ease .4s forwards;
    }
    .leaf-blue-2{
      animation: leafBlue2 2.5s ease .4s forwards;
    }
  }
  .form__field{
    animation: fadeIn 1s ease 1s forwards;
    width: 100%;
  }
  .form__field2::after{
    animation: increaseInRight .5s ease .5s forwards;
  }
  .form__button span{
    animation: fadeIn 1.5s ease .5s forwards;
  }
  .form__button{
    animation: fadeIn .2s ease .5s forwards;
  }
}

@keyframes levitateFlamingo {
  0% {
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) translateY(30px) rotate(-5deg);
  }
  90% {
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
}
@keyframes leafGreen {
  from {
    opacity: 0;
    transform: rotate(-18deg);
  }

  20% {
    opacity: 1;
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-3deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes leafBlue2 {
  from {
    opacity: 0;
    transform: rotate(0);
  }

  20% {
    opacity: 1;
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes toTop {
  from {
    transform: translate3d(-50%, 200%, 0) scale(.1);
  }
  50%{
    transform: translate3d(-50%, -10%, 0) scale(1);
  }
  to {
    transform: translate3d(-50%, 0, 0) scale(1);
  }
}
@keyframes fadeInToTop {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes increaseInRight {
  from {
    opacity: 0;
    width: 0;
  }
  30%{
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
