.screen--rules.active{

  .rules__item::before{
    color: #ffffff;
    opacity: 1;
  }
  .rules__item::after{
    transform: scale(1);
  }
  .rules__item p{
    opacity: 1;
    transform: translateX(0);
  }
  .rules__link{
    color: $c-dark;
    opacity: 1;
  }
  .rules__link::before{
    width: 100%;
    right: -50%;
    opacity: 1;
  }
}
/* text-animation-wave */
.text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  white-space: nowrap;
}
.text__word > span {
    transform: translate3d(0, 300%, 0);
    display: inline-block;
    white-space-collapse: break-spaces;
}

.text-animation-wave .text__word > span {
    transform: translate3d(0, 0, 0);
}

/* screen result */
.screen--result.screen--show{
  .result__image{
    .flamingo{
      animation: fadeInFlamingo .5s ease 0s forwards, levitateFlamingo 2.5s ease .5s infinite;
    }
    .suitcase{
      animation: toTopCase 1.2s ease 0s forwards;
    }
    .leaf-green{
      animation: leafGreen 2.5s ease .3s forwards;
    }
    .leaf-blue-1{
      animation: leafBlue1 2.2s ease .4s forwards;
    }
    .leaf-blue-2{
      animation: leafBlue2 2.5s ease .4s forwards;
    }
  }
  .form__field{
    animation: fadeIn 1s ease 1s forwards;
    width: 100%;
  }
  .form__field2::after{
    animation: increaseInRight .5s ease .5s forwards;
  }
  .form__button span{
    animation: fadeIn 1.5s ease .5s forwards;
  }
  .form__button{
    animation: fadeIn .2s ease .5s forwards;
  }
}

@keyframes levitateFlamingo {
  0% {
    transform: translate3d(-38%, 47%, 0) rotate(0);
  }
  50% {
    transform: translate3d(-38%, 55%, 0) rotate(-5deg);
  }
  100% {
    transform: translate3d(-38%, 47%, 0) rotate(0);
  }
}
@keyframes leafGreen {
  from {
    opacity: 0;
    transform: translate3d(52%, 78%, 0) rotate(-18deg);
  }

  20% {
    opacity: 1;
    transform: translate3d(52%, 78%, 0) rotate(15deg);
  }

  40% {
    transform: translate3d(52%, 78%, 0) rotate(-10deg);
  }
  60% {
    transform: translate3d(52%, 78%, 0) rotate(5deg);
  }

  80% {
    transform: translate3d(52%, 78%, 0) rotate(-3deg);
  }
  to {
    opacity: 1;
    transform: translate3d(52%, 78%, 0) rotate(0deg);
  }
}
@keyframes leafBlue1 {
  from {
    opacity: 0;
    transform: translate3d(51.5%, 16%, 0) rotate(13deg);
  }
  19%,
  21% {
    opacity: 1;
    transform: translate3d(51.5%, 16%, 0) rotate(-12deg);
  }
  48%,
  50% {
    transform: translate3d(51.5%, 16%, 0) rotate(10deg);
  }
  73%,
  75% {
    transform: translate3d(51.5%, 16%, 0) rotate(-9deg);
  }
  to {
    opacity: 1;
    transform: translate3d(51.5%, 16%, 0) rotate(7deg);
  }
}
@keyframes leafBlue2 {
 from {
  opacity: 0;
    transform: translate3d(-74.5%, 54%, 0) rotate(-17deg);
  }
  25%,
  27% {
    opacity: 1;
    transform: translate3d(-74.5%, 54%, 0) rotate(9deg);
  }
  54%,
  56% {
    transform: translate3d(-74.5%, 54%, 0) rotate(-14deg);
  }
  80% ,
  82% {
    transform: translate3d(-74.5%, 54%, 0) rotate(6deg);
  }
  to {
    opacity: 1;
    transform: translate3d(-74.5%, 54%, 0) rotate(-11deg);
  }
}
@keyframes toTopCase {
  0% {
    transform: translate3d(-7%, 90%, 0) rotate(-6deg) scale(0);
  }
  61% {
    transform: translate3d(-7%, 16.5%, 0) rotate(-6deg) scale(1);
  }
  63% {
    transform: translate3d(-7%, 16.5%, 0) rotate(-6deg) scale(1);
  }
  100% {
    transform: translate3d(-7%, 26%, 0)  rotate(-6deg) scale(1);
  }
}
@keyframes fadeInToTop {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
}
@keyframes fadeInFlamingo {
  0% {
    opacity: 0;
    transform: translate3d(-42%, 110%, 0) rotate(-17deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(-38%, 47%, 0) rotate(0);
  }
}
@keyframes increaseInRight {
  from {
    opacity: 0;
    width: 0;
  }
  30%{
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* module2-task3 */
.slider__pagination{
  opacity: 0;
  animation-duration: 0.5s;
  transition: opacity 1s;
}

.slider__control{
  transition: all .3s;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-fill-mode: forwards;
}

.slider__control--prev{
  animation-name: roll-in-right;
}

.slider__control--next{
  animation-name: roll-in-left;
}

.active{
  .slider__pagination{
    opacity: 1;
  }
}
/**/
.result__button{
  opacity: 0;
  transition: all .3s;
}

.screen--result.screen--show {
  .result__button{
    animation: fadeIn .3s ease .1s forwards;
  }
  .result__button span{
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    animation-fill-mode: forwards;
    animation-name: roll-in-left;
  }
}

@keyframes roll-in-left {
  0% {
    opacity: 0;
    transform: translateX(5rem) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
@keyframes roll-in-right {
  0% {
    opacity: 0;
    transform: translateX(-5rem) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
  /**/
.screen__footer{
  @media (max-width: $tablet) and (orientation: portrait){
  max-width: 100vw;
  transition: all .3s;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0 3.6rem 0 0;
  transform: translateY(3.5rem);
  transition: transform 0.3s cubic-bezier(0.29, 0.48, 0.31, 0.98), opacity 0.3s cubic-bezier(0.29, 0.48, 0.31, 0.98), width 0.35s ease 0.35s, height 0.35s ease 0.35s;
  .screen__footer-wrapper{
    opacity: 1;
    color: rgba(255, 255, 255, 0);
    transition: color 0.35s;
  }
  &.screen__footer--full{
    width: 100%;
    height: 18rem;
    transition: width 0.35s ease, height 0.35s ease;
      .screen__footer-wrapper{
        opacity: 1;
        color: #5f458c;
        transition: color 0.35s ease 0.35s;
      }
    }
  }
}


