.screen--rules.active{

  .rules__item::before{
    color: #ffffff;
    opacity: 1;
  }
  .rules__item::after{
    transform: scale(1);
  }
  .rules__item p{
    opacity: 1;
    transform: translateX(0);
  }
  .rules__link{
    color: $c-dark;
    opacity: 1;
  }
  .rules__link::before{
    width: 100%;
    right: -50%;
    opacity: 1;
  }
}
/* popup-text */
.text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  white-space: nowrap;
}

.text__word > span {
    transform: translate3d(0, 150%, 0);
    display: inline-block;
}

.popup-text.active .text__word > span {
    transform: translate3d(0, 0, 0);
}

/* screen result */
.screen--result.active{
  .result__images{
    .leaf-green,
    .leaf-blue-1,
    .leaf-blue-2{
      opacity: 1;
    }
    .flamingo{
      opacity: 1;
      transform: translateX(-50%) translateY(0) rotate(0deg);
      animation: levitateFlamingo 2.5s ease .5s infinite;
      // animation-fill-mode:forwards;
    }
    .suitcase{
      transform: translate3d(-50%, 0, 0) scale(1);
    }
    .leaf-green{
      animation: leafGreen 2.5s ease .5s forwards;
    }
    .leaf-blue-1{
      animation: leafGreen 2s ease .4s forwards;
    }
    .leaf-blue-2{
      animation: leafBlue2 2.5s ease .5s forwards;
    }
  }
}

@keyframes levitateFlamingo {
  0% {
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) translateY(30px) rotate(-5deg);
  }
  90% {
    transform: translateX(-50%) translateY(0) rotate(0deg);
  }
}
@keyframes leafGreen {
  from {
    transform: rotate(-18deg);
  }

  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes leafBlue2 {
  from {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(0deg);
  }
}