@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/proximanova-semibold.woff2") format("woff2"), url("../fonts/proximanova-semibold.woff") format("woff");
}

@font-face {
  font-family: "Radical";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/radical.woff2") format("woff2"), url("../fonts/radical.woff") format("woff");
}
